body {
    background: #f4f4f4 url('../images/background.png');
    color: #333;
    font: 18px/30px "Droid Serif", "Helvetica Neue", Helvetica, Arial;
}

a {
    text-decoration: none;
    color: #f00;
    padding: 2px;
}

a:hover {
    background: #277585;
    color: #fff;
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 20px;
}

h2 {
    font-size: 40px;
    font-weight: normal;
    margin: 0 0 15px;
}

p {
    margin: 20px 0;
    min-width: 550px;
    max-width: 900px;
}

table, tr, td {
    margin: 0; padding: 0;
}

td {
    padding: 2px 12px 2px 0;
}

ul {
    list-style-type: circle;
    padding: 0 0 0 20px;
}

li {
    width: 500px;
    margin-bottom: 10px;
}

code, pre, tt {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
}

tt {
    padding: 0px 3px;
    background: #fff;
    border: 1px solid #ddd;
    zoom: 1;
}

code {
    margin-left: 20px;
}

pre {
    font-size: 12px;
    padding: 12px;
    background: #fff;
    margin: 0px 0 30px;
    border-radius: 0 0 2px 2px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
}

span.header {
    font-size: 24px;
    line-height: 30px;
    border-left: 10px solid #ddd;
    padding-left: 10px;
}

.desc-text code {
    margin-left: 0;
    font-size: 18px;
    color: #0E04C8;
}

#sidebar {
    background: #fff;
    position: fixed;
    top: 0; left: 0; bottom: 0;
    width: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px 0 30px 10px;
    border-right: 1px solid #bbb;

    box-shadow: 0 0 20px #ccc;
    -webkit-box-shadow: 0 0 20px #ccc;
    -moz-box-shadow: 0 0 20px #ccc;
    -webkit-overflow-scrolling: touch;
}

.toc_title, .toc_title:visited {
    display: block;
    color: #000;
    margin-top: 15px;
}

.toc_title:hover {
    background: none;
    color: #f00;
}

.toc_title .version {
    font-size: 12px;
    font-weight: normal;
}

.toc_section {
    font-size: 14px;
    line-height: 24px;
    margin: 5px 0 0 0;
    padding-left: 10px;
    list-style-type: none;
}

.toc_section li {
    cursor: pointer;
    margin: 0 0 3px 0;
}

.toc_section li a {
    text-decoration: none;
    color: black;
}

.toc_section li a:hover {
    background: none;
    color: #f00;
}

.container {
    min-width: 550px;
    max-width: 1000px;
    margin: 40px 0 50px 260px;
}

#documentation section > article > p > code {
    color: #999;
}

#documentation section > article > p > code > .util_class {
    color: #bbb;
}

#documentation section > article > p > code > .func_name {
    color: #0E04C8;
}

#documentation section > article > p > code > .param {
    color: #DA72F3;
}
